<div>
  <div>
    <h1>
      List of all appointments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new appointment
    </h2>

    <form action="/insert_appointment" method="post">

      <div>
        <label for="massage_type_box">
          Massage type
        </label>

        <% if params[:massage_type] %>
          <input type="text" id="massage_type_box" name="query_massage_type" value="<%= params[:massage_type] %>">

        <% else %>
          <select type="text" id="massage_type_box" name="query_massage_type" value="<%= params[:massage_type] %>">

            <option value="Individual">Individual Section Massage</option>
            <option value="Full Body">Full Body Massage</option>
            <option value="Hot Stones">Full Body & Hot Stones Massage</option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="date_box">
          Date chosen
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

        <div>
          <label for="time_chosen_id_box">
            Time chosen
          </label>

          <input type="time" id="time_chosen_id_box" name="query_time_chosen_id" min="09:00" max="23:00" step="3600">
        </div>

      <div>
        <label for="price_box">Price</label>
        <input type="text" id="price_box" name="query_price" value="<%= params[:price] %>">
      </div>

      <button>
        Create appointment
      </button>
    </form>
  </div>
</div>

<h3>Or Go Back.</h3>
<button><a href="/pricing">Go Back</a></button>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Date
        </th>

        <th>
          Time chosen
        </th>

        <th>
          User
        </th>

        <th>
          Massage type
        </th>

        <th>
          Price
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_appointments.each do |an_appointment| %>
        <tr>
          <td>
            <%= an_appointment.id.username %>
          </td>

          <td>
            <%= an_appointment.date %>
          </td>

          <td>
            <%= an_appointment.time_chosen_id %>
          </td>

          <td>
            <%= an_appointment.user_id %>
          </td>

          <td>
            <%= an_appointment.massage_type %>
          </td>

          <td>
            <%= an_appointment.price %>
          </td>

          <td>
            <%= time_ago_in_words(an_appointment.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(an_appointment.updated_at) %> ago
          </td>

          <td>
            <a href="/appointments/<%= an_appointment.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<!-- table border="1" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
    <% time = Time.new(2023, 04, 10, 8, 0, 0, "+00:00") %>
    <% 23.times do |i| %>
      <tr>
        <th><%= time.strftime("%I:%M %p") %></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% time += 30.minutes %>
    <% end %>
  </tbody>
</table -->
