<div>
  <div>
    <h1>
      List of all appointments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new appointment
    </h2>

    <form action="/insert_appointment" method="post">

      <div>
        <label for="massage_box">
          Massage Type
        </label>

        <select type="integer" id="massage_box" name="query_massage">
          <option value="">Select a massage type</option>
          <% @massages.each do |massage| %>
            <% if params[:massage_id].to_i == massage.id %>
              <option value="<%= massage.id %>" selected>
                <%= massage.name %>
              </option>
            <% else %>
              <option value="<%= massage.id %>">
                <%= massage.name %>
              </option>
            <% end %>

          <% end %>
        </select>
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" min="<%= Date.today.to_s %>">
      </div>

      <div>
        <label for="time_chosen_box">
          Time
        </label>

        <input type="time" id="time_chosen_box" name="query_time_chosen" min="08:00" max="20:00" required>
      </div>

      <div>
        <input type="hidden" id="status_box" name="query_status">
      </div>

      <button>
        Create appointment
      </button>
    </form>
  </div>
</div>

<h3>Or Go Back.</h3>
<button><a href="/pricing">Go Back</a></button>

<hr>

<% if @current_user == nil %>
  You are not signed in >:(
<% elsif  @current_user.appointments.any? %>
  <h1>Your curent Appointments</h1>
  <table border="1">
    <tr>
      <th>
        User
      </th>

      <th>
        Massage Type
      </th>

      <th>
        Price
      </th>

      <th>
        Date
      </th>

      <th>
        Time
      </th>

      <th>
        Created at
      </th>

      <th>
        Updated at
      </th>

      <th>
        More Details
      </th>

    </tr>

    <% @list_of_appointments.where(user_id: @current_user.id).each do |an_appointment| %>
      <tr>
        <td>
          <%= an_appointment.user.first_name %> <%= an_appointment.user.last_name %>
        </td>

        <td>
          <%= an_appointment.massage.name %>
        </td>

        <td>
          <%= an_appointment.massage.price %>
        </td>

        <td>
          <%= an_appointment.date.strftime('%m/%d/%Y') %>
        </td>

        <td>
          <%= an_appointment.time_chosen.strftime("%I:%M %p") %>
        </td>

        <td>
          <%= time_ago_in_words(an_appointment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_appointment.updated_at) %> ago
        </td>

        <td>
          <a href="/appointments/<%= an_appointment.id %>">
            Show details
          </a>
        </td>
      </tr>
    <% end %>
  <% else %>
    You currently have no appointments. 😔

  <% end %>
</table>
<hr>
<h1>Today's appointments</h1>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          User
        </th>

        <th>
          Massage Type
        </th>

        <th>
          Price
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      </tr>

      <% @list_of_appointments.each do |an_appointment| %>
        <% if an_appointment.status == "today" %>
          <tr>
            <td>
              <% if an_appointment.user_id == @current_user.id %>
                <%= an_appointment.user.first_name %> <%= an_appointment.user.last_name %>
              <% else %>
                Another User
              </td>
            <% end %>

            <td>
              <%= an_appointment.massage.name %>
            </td>

            <td>
              <%= an_appointment.massage.price %>
            </td>

            <td>
              <%= an_appointment.date.strftime('%m/%d/%Y') %>
            </td>

            <td>
              <%= an_appointment.time_chosen.strftime("%I:%M %p") %>
            </td>

            <td>
              <%= time_ago_in_words(an_appointment.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(an_appointment.updated_at) %> ago
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
<hr>

<h1>Upcoming Appointments</h1>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          User
        </th>

        <th>
          Massage Type
        </th>

        <th>
          Price
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      </tr>

      <% @list_of_appointments.each do |an_appointment| %>
        <% if an_appointment.status == "upcoming" %>
          <tr>
            <td>
              <% if an_appointment.user_id == @current_user.id %>
                <%= an_appointment.user.first_name %> <%= an_appointment.user.last_name %>
              <% else %>
                Another User
              </td>
            <% end %>

            <td>
              <%= an_appointment.massage.name %>
            </td>

            <td>
              <%= an_appointment.massage.price %>
            </td>

            <td>
              <%= an_appointment.date.strftime('%m/%d/%Y') %>
            </td>

            <td>
              <%= an_appointment.time_chosen.strftime("%I:%M %p") %>
            </td>

            <td>
              <%= time_ago_in_words(an_appointment.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(an_appointment.updated_at) %> ago
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

