<h1>Packages</h1>
<p>These are the different packages I offer, accommodated to your needs.</p>

<% @massages.each do |massage| %>
<h1><%= massage.name %></h1>
<h2><%= number_to_currency(massage.price, unit: "$", precision: 2) %></h2>
<ul>
  <li><%= massage.description %></li>
  <li><%= massage.duration %></li>
</ul>
<button><a href="/appointments?massage_id=<%= massage.id %>">Book Individual Session!</a></button>
<% end %>
