<div>
  <div>
    <h1>
      Appointment #<%= @the_appointment.id %> details
    </h1>

    <div>
      <div>
        <% if @current_user.admin == true %>
          <button><a href="/dashboard">
              Go back
            </a></button>
        <% else %>
          <button><a href="/appointments">
              Go back
            </a></button>
        <% end %>
      </div>

      <dl>
        <dt>
          Massage type
        </dt>
        <dd>
          <%= @the_appointment.massage.name %>
        </dd>

        <dt>
          Date chosen
        </dt>
        <dd>
          <%= @the_appointment.date.strftime('%m/%d/%Y') %>
        </dd>

        <dt>
          Time chosen
        </dt>
        <dd>
          <%= @the_appointment.time_chosen.strftime("%I:%M %p") %>
        </dd>

        <dt>
          Price
        </dt>
        <dd>
          <%= @the_appointment.massage.price %>
        </dd>

        <dt>
          User's Name
        </dt>

        <dd>
          <% if @the_appointment.user_id != nil %>
            <%= @the_appointment.user.first_name %> <%= @the_appointment.user.last_name %>
          <% else %>
            Deleted User
          </dd>
        <% end %>

        <dt>
          Created at
        </dt>
        <dd>
          <%= time_ago_in_words(@the_appointment.created_at) %> ago
        </dd>

        <dt>
          Updated at
        </dt>
        <dd>
          <%= time_ago_in_words(@the_appointment.updated_at) %> ago
        </dd>
      </dl>
    </div>
  </div>

  <hr>

  <div>
    <div>
      <h2>
        Edit appointment
      </h2>

      <form action="/modify_appointment/<%= @the_appointment.id %>"  method="post" >
        <div>
          <label for="massage_box">
            Massage Type
          </label>

          <select type="integer" id="massage_box" name="query_massage">
            <option value="">Select a massage type</option>
            <% @massages.each do |massage| %>
              <option value="<%= massage.id %>"><%= massage.name %></option>
            <% end %>
          </select>
        </div>

        <div>
          <label for="date_box">
            Date
          </label>

          <input type="date" id="date_box" name="query_date">
        </div>

        <div>
          <label for="time_chosen_box">
            Time
          </label>

          <input type="time" id="time_chosen_box" name="query_time_chosen" min="09:00" max="23:00" step="3600" required>
        </div>

        <button>
          Update appointment
        </button>
      </form>
    </div>
  </div>

  <hr>
  <h2>Or Delete the appointment.</h2>
  <p><i>This action cannot be undone!</i></p>
  <div>
    <button><a href="/delete_appointment/<%= @the_appointment.id %>">
        Delete appointment
      </a></button>
  </div>
</div>
<hr>
