<div>
  <div>
    <h1>
      List of all reviews
    </h1>
  </div>
</div>

<hr>
<% if @current_user == nil %>
  Please sign in to add a review!
<% else %>
<div>
  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <div>
        <label for="rating_box">Rating</label>
        <select id="rating_box" name="query_rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <div>
        <label for="massage_box">
          Massage Type<i>(optional)</i>
        </label>

        <select type="integer" id="massage_box" name="query_massage">
          <option value="">Select a massage type</option>
          <% @massages.each do |massage| %>
            <option value="<%= massage.id %>"><%= massage.name %></option>
          <% end %>
        </select>
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          User
        </th>

        <th>
          Massage Type
        </th>

        <th>
          Rating
        </th>

        <th>
          Title
        </th>

        <th>
          Body
        </th>

        <th>
          Created at
        </th>
      
      <% if @current_user == nil %>
      <% else %>
        <% if @current_user.reviews.count >= 1 %>
        <th>
          More Details
        </th>
        <% else %>
        <% end %>
      <% end %>
      </tr>

      <% @list_of_reviews.each do |a_review| %>
        <tr>

          <td>
            <%= a_review.user.first_name %> <%= a_review.user.last_name %>
          </td>

          <td>
            <% if a_review.massage.present? %>
              <%= a_review.massage.name %>
            <% else %>
              
            <% end %>

          </td>

          <td>
            <%= a_review.rating %>
          </td>

          <td>
            <%= a_review.title %>
          </td>

          <td>
            <%= a_review.body %>
          </td>

          <td>
            <%= time_ago_in_words(a_review.created_at) %> ago
          </td>
      <% if @current_user == nil %>
      <% else %>
        <% if a_review.user_id != @current_user.id %>
        
        <% else %>
          <td>
            <a href="/reviews/<%= a_review.id %>">
              Show details
            </a>
          </td>
        <% end %>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
