<div>
  <div>
    <h1>
      Review #<%= @the_review.id %> details
    </h1>

    <div>
      <div>
        <button><a href="/reviews">
            Go back
          </a></button>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_review.title %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_review.body %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @the_review.rating %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_review.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit review
    </h2>

    <form action="/modify_review/<%= @the_review.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_review.title %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea type="text" id="body_box" name="query_body" rowa="3" value="<%= @the_review.body %>"></textarea>
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <select id="rating_box" name="query_rating" value="<%= @the_review.rating %>">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      </div>

      <button>
        Update review
      </button>
    </form>
  </div>
  <hr>
  <div>
    <h2>Or Delete the review.</h2>
    <p><i>This action cannot be undone!</i></p>
    <button><a href="/delete_review/<%= @the_review.id %>">
        Delete review
    </button></a>
  </div>
</div>

<hr>
